.div1{
    width: 100%;
    background-color: slategray;
    font-size: 20px;
    color: whitesmoke;
    text-align:center;
    padding-top: 110px;
    padding-bottom: 130px;
    margin-bottom: 10px;
}

section{
    background-color: white;
    margin: 10px 10px 10px 16px;
    height: 260px;
    width: 31%;
    float: left;
}

.div2{
    margin: 5px 5px 5px 5px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: whitesmoke;
    background-color: slategray;
}
.div2a a{
    color: yellow;
    margin-left: 60%;
}