.head{
    background-color: rgb(104, 100, 100);
    padding: 5px; 
    width: 99%; 
    height:30rem ;
   
    }

    .head h1{

        text-align: center;
        font-size:90px;
        color: white;
        margin-top: 150px;
        
    }

.cardbody{
width: 100%;

}


.cardbody1{
   width: 100%;
 
   }
 .card1{
   text-align: center;
   float: right;
   position: relative;
   border: 4px solid #ddd;
   background-color: rgb(104, 100, 100);
   width: 24%; 
   margin-top: 20px;
   padding-bottom: 60px;
   margin-inline: 30px;
   margin-right: 6%;


 }   
 .card1 h1{

   text-align: center;
   color: white;
   margin-top:60px ;
}
 

 .cardtextbody{
   text-align: left;
   float: left;
   position: relative;
   width: 24%; 
   margin-left: 8%;
  }  



.card1_text h4{
font-style: italic;
color: grey;
margin-top: 5rpx;

}
.card1_text p{
   color: gray;
}
.card1_text a{
   color: orange;
   margin-left: 10rem;
   margin-top: 3rem;
}

 